<html>
<head>
<title>Django Love blog</title>
</head>
<body>
<div>

<h1><a href="">Django Girls Blog</a></h1>

<p>published:  Oct 20</p>
<h2><a href="">Django Training</a></h2>
We want to train you #Django Join us for #DjangoGirls #Mbale on 29/10 @LIUniversity @djangogirlsmbl.
 Hope you filled the application form! <p>
   @lordsiiya
</div>
<div>

<p>published:  Oct 15</p>
<h2><a href="">Django Credit</a></h2>
<p>I dont think @SamuelLJackson gets enough credit.The guy has deserved an #Oscar so many times. Especially for #Django -was a no-brainer to me
  .</p>‏@DillonCasey
  <p>
</div>
<div>

<p>published: 14.10.2016, 12:14</p>
<h2><a href="">Django Unchained</a></h2>
<p>No matter how many times I've seen it I can't turn django unchained off! Absolute belter of a film! #django.</p>
Gareth Evans ‏@Gazpin_69kg <p>
</div>
</body>
</html>
